<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.verphen.rcp_start.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.verphen.rcp_start.Perspective"
            id="com.verphen.RCP_Start.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.verphen.RCP_Start.application"
            name="第一个RCP程序">
         <property
               name="appName"
               value="第一个RCP程序">
         </property>
      </product>
   </extension>

</plugin>
